
    <h2 class="header">{{ docente.nombre }}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table>
            <tr>
              <th>Niveles</th>
              <td>
                <ul>
                  <li *ngFor="let nivel of docente.niveles">
                    {{nivel}}
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Precio</th>
              <td>
                $20.000
              </td>
            </tr>
          </table>
        </div>
        <div class="card-action">
          <compra [docente]="docente"></compra>
        </div>
      </div>
    </div>
